!!!

%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Geonames test
    %link{:rel => 'stylesheet', :href => '/stylesheets/style.css', :type => 'text/css', :media => 'screen'}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', :type => 'text/javascript', :charset => 'utf-8'}
    :javascript
      $(function() {
        var lat = $('.lat').text();
        var lng = $('.lng').text();
        var geonamesURL = 'http://ws.geonames.org/findNearbyWikipediaJSON?lat=' + lat + '&lng=' + lng;
        var list = $('<ul>');
        $.getJSON(geonamesURL, function(data) {
          $(data.geonames).each(function() {
            console.log(this);
            var anchor = $('<a href="http://' + this.wikipediaUrl + '">' + this.title + '</a>');
            var listItem = $('<li>');
            listItem.append(anchor);
            list.append(listItem);
          });
          $(document.body).append(list);
        });
      })

  %body

    %h1 Geonames test
    
    %p
      Wikipedia articles near
      %span.lat 51.51333
      %span.lng -0.088947