!!!

%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Geolocation Audioguide tests
    %link{:rel => 'stylesheet', :href => '/stylesheets/style.css', :type => 'text/css', :media => 'screen'}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', :type => 'text/javascript', :charset => 'utf-8'}

  %body

    %h1 Geolocation Audioguide tests
    
    %ul
      %li
        %a{:href => '/audio-test'} Audio test
      %li
        %a{:href => '/geolocate-test'} Geolocate test
      %li
        %a{:href => '/geonames-test'} Geonames test
      %li
        %a{:href => '/guide'} End to end test